name: test
on: [push, pull_request]
jobs:
  rake:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby: [2.4, 2.7, '3.0', head]
    steps:
    - name: Fetch repository
      uses: actions/checkout@v2
    - name: Install Pandoc
      run:  sudo apt-get install -yy pandoc
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        bundler-cache: true
        ruby-version: ${{ matrix.ruby }}
    - name: Run tests
      run:  bundle exec rake
